---
const {post} = Astro.props;
import {formatDate} from '../utils/helpers'

---

<a class="post-preview__link fade-in" href={post.url}>
<article class="post-preview__article">
  <!-- Hopefully we'll be able to use Astro's image integration for this soon -->
  <picture>
    <source srcset={`${post.frontmatter.image}.webp`} type="image/webp">
    <img class="post-preview__img" src={`${post.frontmatter.image}.png`} alt={`Featured image for ${post.frontmatter.title}`} >
  </picture>
  <div class="post-preview__text">
    {post.frontmatter?.category && <p class="post-preview__category">{post.frontmatter.category}</p>}
    <h2>{post.frontmatter.title}</h2>
    <p class="post-preview__date">{formatDate(post.frontmatter.publishedAt)}</p>
  </div>
</article>
</a>
  
<style>
.post-preview__link {
  text-decoration: none;
}
.post-preview__link:hover .post-preview__img {
  box-shadow: rgba(0, 0, 0, 0.1) 0 10px 20px 0;
  transform: scale(1.1);
}
.post-preview__link:hover .post-preview__text {
  transform: translateX(0.5rem);
}
.post-preview__article {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
}
.post-preview__text {
  transition: transform 0.2s ease-in-out;
}
.post-preview__category {
  width: fit-content;
  padding: 0.25rem 0.75rem;
  background-color: var(--theme-surface-1);
  border-radius: 2rem;
  margin-bottom: 0.5rem;
  font-size: var(--step--2);
  /* color: #666; */
}
.post-preview__text h2{
  font-size: var(--step-1);
}
.post-preview__img {
  width: 250px;
  height: 160px;
  object-fit: cover;
  border-radius: 1rem;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.post-preview__date {
  font-size: var(--step--1);
  color: #666;
}
@media (max-width: 768px) {
  .post-preview__article {
    grid-template-columns: 1fr;
  }
  .post-preview__img {
    aspect-ratio: 16/9;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .post-preview__text {
    margin-top: 1rem;
  }
  .post-preview__link:hover .post-preview__img {
    box-shadow: none;
    transform: none;
  }
  .post-preview__link:hover .post-preview__text {
    transform: none;
  }
}
</style>